:root {
  --bs-border-color-translucent: rgba(0, 0, 0, 0.5);
}

body {
  font-family: "Oxygen Mono", monospace;
}

a {
  color: var(--bs-green);
  text-decoration: none;
}

h1,
h2,
.nav-item,
.navbar-brand {
  font-family: "Gugi", monospace;
}

.navbar-brand {
  font-size: medium;
}

.small {
  font-size: 0.8rem;
}

.no-underline {
  text-decoration: none;
}
