body {
  font-family: "Oxygen Mono", monospace;
}

a {
  color: var(--bs-green);
}
h1,
h2,
.nav-item,
.navbar-brand {
  font-family: "Gugi", monospace;
}

.small {
  font-size: 0.8rem;
}
.no-underline {
  text-decoration: none;
}
