{% extends "base.html" %} {% block content %}
<div class="container">
  <h1 class="text-center">Magnet Details</h1>
  <hr />
  <div class="row">
    <div class="col-auto offset-md-3">
      <ul class="list-group">
        <li class="list-group-item">
          <b>File Name:</b> {{ torrent.file_name }}
        </li>
        <li class="list-group-item"><b>Hash:</b> {{ torrent.hash }}</li>
        <li class="list-group-item">
          <b>Announce URL:</b> {{ torrent.announce_url }}
        </li>
        <li class="list-group-item"><b>Category:</b> {{ torrent.category }}</li>
        <li class="list-group-item">
          <b>Timestamp:</b> {{ torrent.timestamp }}
        </li>
        <li class="list-group-item">
          <b>Submitted By:</b>
          <a href="https://peakd.com/@{{ torrent.submitted_by }}"
            >{{torrent.submitted_by }}</a
          >
        </li>
        <li class="list-group-item">
          <b>Block Number:</b>
          <a href="https://hivehub.dev/b/{{ torrent.block_number }}"
            >{{torrent.block_number}}</a
          >
        </li>
      </ul>
      <a
        href="magnet:?xt=urn:btih:{{torrent.hash}}&dn={{torrent.file_name}}&tr={{torrent.announce_url}}"
        class="btn btn-outline-success mt-3"
        ><i class="las la-magnet"></i> Magnet Link</a
      >
    </div>
  </div>
</div>
<script src="/static/js/torrents.js"></script>
{% endblock %}
