{% block footer %}
<footer class="bg-dark py-3 mt-3">
  <div class="container-fluid">
    <div class="row text-center small">
      <p class="text-white mt-3 mb-2">
        Made with ❤️ by
        <a href="https://peakd.com/@edryx" class="text-white no-underline"
          ><i class="cf cf-hive"></i> edryx</a
        >
      </p>
      <ul class="list-inline text-white">
        <li class="list-inline-item">
          <i class="cf cf-btc"></i> bc1qnp7jlxqhqky53zum2un3yxkx2v5f39ywwkuqld
        </li>
        <li class="list-inline-item">
          <i class="cf cf-ltc"></i> LLuRWLt9vy2d9ZpbM566a9AwusRiKSjBae
        </li>
        <li class="list-inline-item">
          <i class="cf cf-eth"></i> 0x6f6E4DEFEDbF0FEE3A1604fC386Dd45B20B81beA
        </li>
      </ul>
      <p class="text-center text-white">
        Copyleft <span class="copy-left">&copy;</span> 2023 PsyberSects
        <a href="https://peakd.com/@magnetbank" class="text-white no-underline"
          ><i class="cf cf-hive"></i> MagnetBank</a
        >
      </p>
    </div>
  </div>
</footer>

{% endblock %}
