{% extends "base.html" %} {% block content %}
<h1 class="text-center">{{ header }}</h1>
<hr />

<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for torrent in torrents %}
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h6 class="card-title">
          <a href="/category/{{torrent.category}}/{{torrent.file_name}}"
            >{{ torrent.file_name|truncate(48, True) }}</a
          >
        </h6>

        <p class="card-text">
          <b>Hash</b>: {{ torrent.hash }}<br />
          <b>Timestamp</b>: {{ torrent.timestamp }}<br />
          <b>Block Number:</b>
          <a href="https://hivehub.dev/b/{{ torrent.block_number }}"
            >{{torrent.block_number}}</a
          ><br />
          <b>Category</b>: {{ torrent.category }}<br />
          <b>Submitted by</b>:
          <a href="https://peakd.com/@{{ torrent.submitted_by }}"
            ><i class="cf cf-hive"></i> {{ torrent.submitted_by }}</a
          >
        </p>

        <p class="card-text">
          <a
            href="magnet:?xt=urn:btih:{{torrent.hash}}&dn={{torrent.file_name}}&tr={{torrent.announce_url}}"
            class="btn btn-outline-success mt-3"
          >
            <i class="las la-magnet"></i> Magnet Link
          </a>
        </p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<div class="pagination justify-content-center">{{ pagination.links }}</div>

<script src="/static/js/torrents.js"></script>
{% endblock %}
