{% extends "base.html" %}
{% block content %}
    <div class="container py-5">
        <div class="row mb-5 align-items-end">
            <div class="col-md-8">
                <h1 class="text-neon display-5 mb-3">USER PROFILE: {{ username }}</h1>
                <p class="text-dim mb-0">
                    <i class="cf cf-hive"></i> HIVE ACCOUNT:
                    <a href="https://peakd.com/@{{username}}" target="_blank" class="text-neon">@{{username}}</a>
                </p>
            </div>
            <div class="col-md-4 text-md-end mt-3 mt-md-0">
                <div class="stat-box text-start d-inline-block px-4 py-2" style="min-width: 200px;">
                    <label>ENTRIES COMMITTED</label>
                    <div class="stat-value" style="font-size: 1.5rem;">{{ total_torrents }}</div>
                </div>
            </div>
        </div>

        <div class="header-line mb-5"></div>

        {% include "torrents.html" %}
    </div>
{% endblock %}
